<app-header></app-header>

<div class="benefits">
  <div class="para">
    <p>In Sri Lanka, there are institutions specifically devoted to researching and developing various facets of tea production, processing, and marketing. High-quality tea is famously produced in Sri Lanka, also known as Ceylon, and the nation's economy heavily depends on this sector.
      The development and prosperity of Sri Lanka's tea business have been greatly aided by the creation of a Tea Research Institute in that nation. The institute's main goal is to serve the tea industry by conducting research, offering technical assistance, and advocating best practices in tea production.</p>
    <p>
      A Tea Research Institute may raise production, promote sustainability, and improve the quality of tea via research and development. Moreover, it can support the creation of novel processing techniques and value-added tea products, enhancing Sri Lankan tea's competitiveness on the international market.
      The institution can also offer education and training to tea growers, processors, and other industry participants, increasing their expertise and fostering best practices in tea growing and processing.In conclusion, Sri Lanka's tea industry depends on the development of a Tea Research Institute to
      develop and flourish. Its emphasis on quality control, sustainability, training and education, research and development, cooperation and networking, and quality control and education may assist and promote Sri Lanka's tea sector and help the nation's economy prosper..
    </p>
  </div>

  <h2>The Sri Lankan tea industry, farmers, and nation as a whole may all gain significantly from the construction of a tea research institute. Here are a few advantages:</h2>

  <ul class="ul1">
    <li>Improved Tea Quality: By conducting research on new and better tea varietals, cultivation and processing methods, and quality control standards,
      a Tea Research Institute can help to enhance the quality of tea produced in Sri Lanka. As a result, there may be a greater demand for Sri Lankan tea on the international market, which might result in better pricing for tea growers.</li>
    <li>Productivity Increases: Through study, a Tea Research Institute may create and advance methods that boost tea production and processing effectiveness. This might improve tea producers' yields and revenue, which would benefit both their
      lives and the economy as a whole.</li>
    <li>Improved Sustainability: Promoting sustainable methods for tea processing and growing may be accomplished in large part through a Tea Research Institute. A Tea Research Institute may support the sustainability of Sri Lanka's tea business
      by investigating and encouraging sustainable agricultural methods, biodiversity preservation, and the use of renewable energy sources.</li>
    <li>Technological Advancements: A tea research institute may also help the tea business improve technologically by creating new processing techniques, packaging innovations, and value-added tea products. This might improve Sri Lankan tea's
      competitiveness on the world market and open up new business opportunities for tea growers and entrepreneurs.</li>
    <li>Training and Education: Tea growers, processors, and other industry participants can get training and education from a tea research institute. This can advance their knowledge and abilities and encourage the finest methods for growing
      and processing tea. This might lead to higher-quality tea, more productive workers, and improved sustainability.</li>
    <p>Through encouraging research and development, raising tea quality, boosting production, strengthening sustainability, and developing technical advancements, a Tea Research Institute in Sri Lanka may have a substantial positive influence on the tea sector,
      farmers, and the nation as a whole.</p>
  </ul>

</div>
<img class="upload" src="./assets/images/TRI.png" alt="Italian Trulli">
<div class="contact">
  <h2>Contact Us</h2>
  <p>Location : &nbsp;Tea Research Institute of Sri Lanka
  Talawakelle, Sri Lanka </p>
  <p>Tel : &nbsp;&nbsp;+94 52-2258201</p>
  <p>Fax : &nbsp;+94 52-2258229</p>
  <div class="email">
    <p>Email :&nbsp;</p><a href = "mailto: info(at)tri.lk">info(at)tri.lk</a>
  </div>

</div>

<div class="web">
  <p>Web Site -: &nbsp;</p><a href="https://www.tri.lk/">Tea Research Institute Of Sri Lanka</a>
</div>







<app-footer></app-footer>
