<app-header></app-header>
<div *ngIf="diseasesNo == 1" class="disease1">
  <div class="title">
    <h2>Anthracnose</h2>
  </div>

  <div class="discription">
    <p>Tea leaves and other plants are afflicted by the fungus anthracnose. Many fungus species, such as Colletotrichum gloeosporioides and Glomerella cingulata, are responsible for its development.
      Tea leaves with tiny, cirrhotic or irregular-shaped lesions on them are indicative of anthracnose. The lesions might seem to be wet and are often dark or black in color. The lesions may get larger and combine as the disease worsens, severely harming the leaves.</p>
    <p>Other elements of the tea plant, such the stems and fruits, are susceptible to anthracnose. Sunken, black lesions on the stems and dark, round patches on the fruits are possible signs in these situations.
      Wind, rain, and other environmental conditions can spread the illness. Infected plant material or instruments that have been used on infected plants can potentially transmit the disease.
      Maintaining excellent plant health practices, such as appropriate watering and fertilization, as well as cutting sick plant portions and removing them from the region, are necessary to prevent anthracnose. Fungicides may also be used to treat the disease, albeit their efficacy will depend on the particular fungus that has caused the infection.</p>
  </div>

  <div class="row" style="padding-top: -200px; padding-bottom: 65px; width: 90%; margin-left: 5%;">
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/Anthracnose/1a.jpg" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/Anthracnose/2a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/Anthracnose/3a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/Anthracnose/4a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
    </div>
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/Anthracnose/5a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/Anthracnose/6a.jpg" alt="gallery" alt="gallery" style="max-height:500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/Anthracnose/7a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/Anthracnose/8a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
    </div>
  </div>

</div>

<div *ngIf="diseasesNo == 2" class="disease2">
  <div class="title">
    <h2>Algal Leaf</h2>
  </div>

  <div class="discription">
    <p>When it affects plants, the algal leaf spot is more noticeable. The spots, which can be blotchy or circular in appearance, are often slightly elevated from the surface of the plant. The dots may have feathery or wavy borders. From a crusty grey-green to a greenish-brown, they come in different shades. However, the formation of reddish, spore-producing structures gives the spots a velvety, red-brown look throughout the summer when the alga is reproducing. Premature yellowing and leaf loss are possible in large colonies.
      The alga colony may only exist briefly in some instances. Under that condition, the plant tissue steadily deteriorates and turns brown. A superficial colony will eventually wash off in the rain or perhaps flake off. Colonies need to break through the plant's surface to live over time, usually through a tiny wound.</p>
    <p>Often, algal leaf spot is not a major issue. Remove and destroy spotted leaves as well as sick branches when the illness is moderate. Also, pick up any contaminated leaves that have fallen to the ground and destroy them. Enhancing growth circumstances is a crucial part of treatment since stressed plants are more frequently affected by algal leaf spot. Verify that plants are receiving the right quantity of fertilizer, water, and sunshine. If necessary, remove or thin out surrounding vegetation to enhance air circulation around impacted plants. Wherever possible, steer clear of overhead watering.</p>
    <p>Sprays containing copper fungicide are advised when algal leaf spot is severe. If damp circumstances continue, sprays may need to be sprayed every two weeks. Nevertheless, treatment may not be possible for the homeowner and may require expert aid if the damaged plant is too tall to administer sprays properly.</p>
  </div>


  <div class="row" style="padding-top: -200px; padding-bottom: 65px; width: 90%; margin-left: 5%;">
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/algal%20leaf/1a.jpg" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/algal%20leaf/2a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/algal%20leaf/3a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/algal%20leaf/4a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
    </div>
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/algal%20leaf/5a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/algal%20leaf/6a.jpg" alt="gallery" alt="gallery" style="max-height:500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/algal%20leaf/7a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/algal%20leaf/8a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
    </div>
  </div>
</div>

<div *ngIf="diseasesNo == 3" class="disease3">

  <div class="title">
    <h2>Bird Eye Sport</h2>
  </div>

  <div class="discription">
    <p>A fungal disease that infects tea plants is called bird's eye spot, commonly referred to as bird's eye blight. The fungus Helminthosporium spp., which causes tiny, circular lesions on the surface of tea leaves, is the culprit. The lesions have a distinctive dark brown appearance with a light-colored center, suggesting a bird's eye, and range in size from a few centimeters to several centimeters.</p>
    <p>The disease is most prevalent when there is a lot of humidity and rain, as this encourages the growth of fungi. Bird's eye spot can seriously harm tea leaves and lower the crop's overall quality and output. The emergence of dark, circular spots on the leaves that might mix to become large, atypical lesions is one of the signs of bird's eye spot. When the fungus spreads, the damaged leaves may also wilt and curl, and the infected patches may become black.
      Tea growers may prevent bird's eye spot by keeping a healthy diet, making sure their plants get enough water and sunlight, and applying fungicides. Tea plants can benefit from proper pruning and spacing, which can increase airflow and lessen the chance of fungus development.</p>
    <p>The quality and output of tea plantations can be greatly impacted by the fungal disease known as bird's eye spot. To stop the disease's spread and guarantee a safe and fruitful tea crop, early identification and prevention are crucial.</p>
  </div>

  <div class="row" style="padding-top: -200px; padding-bottom: 65px; width: 90%; margin-left: 5%;">
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/bird%20eye%20spot/1a.jpg" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/bird%20eye%20spot/2a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/bird%20eye%20spot/3a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/bird%20eye%20spot/4a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
    </div>
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/bird%20eye%20spot/5a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/bird%20eye%20spot/6a.jpg" alt="gallery" alt="gallery" style="max-height:500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/bird%20eye%20spot/7a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/bird%20eye%20spot/8a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
    </div>
  </div>
</div>

<div *ngIf="diseasesNo == 4" class="disease4">
  <div class="title">
    <h2>Brown Blight</h2>
  </div>

  <div class="discription">
    <p>On immature leaves, little, oval, light yellow-green dots initially develop. The dots are frequently encircled by a constricting yellow zone. Concentric rings with dispersed, small black dots become apparent as the spots enlarge and turn brown or gray, and finally the dry tissue collapses, causing defoliation. Any age of leaves might be impacted.</p>
    <p>The principal source of infection is decaying plant detritus, where the disease may thrive. Latent mycelium in the leaf tissue may begin to infiltrate surrounding cells to develop brown patches when young twigs of sensitive cultivars are removed and used to root new plants. This might result in the loss of leaves and twigs. Poor air circulation, high temperatures, high humidity, or protracted leaf wetness periods are conducive to the disease.</p>
  </div>


  <div class="row" style="padding-top: -200px; padding-bottom: 65px; width: 90%; margin-left: 5%;">
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/brown%20blight/1a.jpg" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/brown%20blight/2a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/brown%20blight/3a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/brown%20blight/4a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
    </div>
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/brown%20blight/5a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/brown%20blight/6a.jpg" alt="gallery" alt="gallery" style="max-height:500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/brown%20blight/7a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/brown%20blight/8a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
    </div>
  </div>
</div>

<div *ngIf="diseasesNo == 5" class="disease5">
  <div class="title">
    <h2>Gray Light</h2>
  </div>

  <div class="discription">
    <p>Tea plants, commonly known as Camellia sinensis, are susceptible to the fungus disease known as gray blight. The illness, which is frequently observed in tea-growing countries of Asia, Africa, and South America, is brought on by the fungus Pestalotiopsis spp.
      Little, brownish-black dots that emerge on the tea leaves are one sign of gray blight. With time, these patches may combine to become bigger lesions. The affected leaves may turn yellow and drop off the plant too soon as the disease worsens.</p>
    <p>When there is a lot of rain, the gray blight spreads quickly across tea plantations and flourishes in warm, humid environments. By using effective management techniques, such as keeping the right distance between tea bushes, trimming affected branches, and using fungicides, the disease may be managed.
      Gray blight prevention strategies include the cultivation of disease-resistant tea cultivars, enhancing soil drainage, and avoiding overhead watering. Gray blight can have a negative effect on the output of tea, but it can be reduced by regular monitoring and timely treatment of afflicted plants.</p>
  </div>


  <div class="row" style="padding-top: -200px; padding-bottom: 65px; width: 90%; margin-left: 5%;">
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/gray%20light/1a.jpg" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/gray%20light/2a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/gray%20light/3a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/gray%20light/4a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
    </div>
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/gray%20light/5a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/gray%20light/6a.jpg" alt="gallery" alt="gallery" style="max-height:500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/gray%20light/7a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/gray%20light/8a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
    </div>
  </div>
</div>

<div *ngIf="diseasesNo == 6" class="disease6">
  <div class="title">
    <h2>Healthy</h2>
  </div>

  <div class="discription">
    <p>The Camellia sinensis plant, which originated in China and is now produced worldwide, is the source of tea leaves. Although there are several tea varieties, all tea leaves originate from the same plant. The following information regarding healthy tea leaves:
      Tea leaves include antioxidants, which are organic compounds that assist in defending the body from harm brought on by dangerous chemicals known as free radicals. Antioxidants have been associated with some health advantages, including a lower risk of chronic illnesses, including cancer and heart disease.</p>
    <p>Tea leaves also contain caffeine, a naturally occurring stimulant that can help boost mental clarity and lessen weariness. Nevertheless, depending on the variety of tea and the method of brewing it, the caffeine concentration of tea leaves might change.
      Polyphenols: Polyphenols are a class of plant compounds found in tea leaves that have been associated with a number of health advantages, such as a decreased risk of chronic illnesses and enhanced heart health.
      Minerals and vitamins: Potassium, vitamin K, vitamin C, and other vitamins and minerals can be found in tea leaves. Nevertheless, depending on the type of tea and the preparation method, the levels of these nutrients can change.</p>
    <p>Low calorie: Tea leaves have a relatively low calorie count on their own, making them a fantastic choice for anyone trying to cut back on their caloric consumption.
      In general, tea is a tasty and nutritious beverage that may be consumed hot or cold. Regular tea consumption has been linked to a number of health advantages, and it may be a fantastic way to remain hydrated all day.</p>
  </div>


  <div class="row" style="padding-top: -200px; padding-bottom: 65px; width: 90%; margin-left: 5%;">
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/healthy/1a.jpg" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/healthy/2a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/healthy/3a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/healthy/4a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
    </div>
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/healthy/5a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/healthy/6a.jpg" alt="gallery" alt="gallery" style="max-height:500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/healthy/7a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/healthy/8a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
    </div>
  </div>
</div>

<div *ngIf="diseasesNo == 7" class="disease7">
  <div class="title">
    <h2>Red Leaf Spot</h2>
  </div>

  <div class="discription">
  <p>A fungal disease that damages tea plants is called red leaf spot, commonly referred to as red blister. It is brought on by the fungus Mycena citricolor and may be a major issue in areas where tea is grown that experience excessive humidity and rainfall.
    Little red or purple spots on the upper surface of the tea leaf are the classic red leaf spot symptoms. These spots might grow and develop into elevated, blister-like lesions. When the tissue degenerates, the lesions may finally become brown or black and sink. Under extreme situations, the leaves may curl, distort, and prematurely fall off the plant.</p>
  <p>As infected leaves cannot be picked for use in the manufacturing of tea, the disease can cause serious harm to the tea crop. Infected plants may also be weaker, which makes them more vulnerable to other pests and diseases.
    Red leaf spot may be prevented and controlled by using fungicides as well as good sanitation techniques including removing and destroying any diseased plant material. Improved drainage, shade, and correct pruning are a few cultural techniques that can help lower the prevalence of red leaf spot.</p>
 </div>


  <div class="row" style="padding-top: -200px; padding-bottom: 65px; width: 90%; margin-left: 5%;">
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/red%20leaf%20spot/1a.jpg" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/red%20leaf%20spot/2a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/red%20leaf%20spot/3a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/red%20leaf%20spot/4a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
    </div>
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/red%20leaf%20spot/5a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/red%20leaf%20spot/6a.jpg" alt="gallery" alt="gallery" style="max-height:500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/red%20leaf%20spot/7a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/red%20leaf%20spot/8a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
    </div>
  </div>
</div>

<div *ngIf="diseasesNo == 8" class="disease8">
  <div class="title">
    <h2>White Spot</h2>
  </div>

  <div class="discription">
    <p>A common name for a particular form of fungal disease that affects tea plants is "white spot."
      Little, round, light-colored spots that start to form on the surface of the leaves are typically the first signs of white spot on tea leaves. These patches may get larger and more noticeable with time, taking on a white or grey hue with a black border.
      If the disease is not treated, it may spread to other regions of the plant and cause the afflicted leaves to become yellow and wilt.</p>
    <p>The fungus Cercospora theae, which causes white spot, prefers warm, humid environments to flourish. On tea estates where there is inadequate air circulation and too much moisture, such as during times of severe rainfall or high humidity, the illness can spread quickly. Also,
      tea plants are more vulnerable to diseases like white spot when they have already been damaged by other stresses like drought or nutritional deficits.</p>
    <p>Tea farmers may use cultural and chemical techniques to manage and avoid white spot. Pruning diseased leaves, improving drainage, and lowering plant stresses including drought and nutrient deficits are examples of cultural practices. Fungicides are employed in chemical treatments to kill the fungus, however they should be used sparingly and in compliance with local laws to reduce their negative effects on the environment and prevent the emergence of fungicide-resistant strains.
      In order to limit damage to the tea plants and stop the disease from spreading to nearby plants in the plantation, early identification and fast treatment of white spot are crucial.</p>
  </div>


  <div class="row" style="padding-top: -200px; padding-bottom: 65px; width: 90%; margin-left: 5%;">
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/white%20spot/1a.jpg" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/white%20spot/2a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/white%20spot/3a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/white%20spot/4a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
    </div>
    <div style="display: flex;justify-content: center;flex-direction: row;overflow: hidden">
      <div class="galleryImag">
        <img src="/assets/gallery/white%20spot/5a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/white%20spot/6a.jpg" alt="gallery" alt="gallery" style="max-height:500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/white%20spot/7a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">

      </div>
      <div class="galleryImag">
        <img src="/assets/gallery/white%20spot/8a.jpg" alt="gallery" alt="gallery" style="max-height: 500px;width: 300px;">
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
