<app-header></app-header>

<div class="title">
  <h1>Introduction</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="para">
      <p>An infection or disease that can harm tea plants, such as a fungal, bacterial, or viral disease,
        is known to as "disease in tea leaves." For tea farmers and producers, these diseases can have a serious
        influence on the quality and output of the tea leaves. Algal leaf, anthracnose, bird eye spot, brown blight,
        gray light, red leaf spot, and white spot are common tea diseases. Tea farmers may employ a number of strategies,
        including the use of disease-resistant cultivars, the adoption of sound agricultural practices, and the
        application of fungicides or other treatments when required, to avoid and control these diseases. Maintaining
        the health and production of tea plants and, ultimately, the quality of the tea that is produced, requires
        effective disease control.</p>
    </div>
  </div>
  <div class="col-md-6">

  </div>
</div>
<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <div class="para">
      <p>Since the British first brought tea to Sri Lanka in the late 19th century, it has become an essential component
        of both the country's culture and economics. Nowadays, Sri Lanka is one of the greatest tea producers in the world,
        and it is well known for its exquisite, scented teas that are shipped all over the world. Geographically and
        climatic changes, the nation is suitable for cultivating tea, especially in the central highlands. Many people
        work in Sri Lanka's tea business, which is heavily dependent on smallholder growers for output. With people
        touring tea plantations and learning about the craft of tea manufacturing, tea tourism has also grown in
        popularity.</p>
    </div>
  </div>
</div>

<div class="topic">
  <h1 style="margin-top: 30px"><span class="display1" style="color:#323232;">Diseases</span></h1>
</div>
<div class="row image_row">
  <div class="main-col">
    <div class="col" id="img1">
      <a style="text-decoration: none" (click)="diseasesDetails(1)">
        <div class="img-col">
          <img class="img" src="assets/diseases/Anthracnose_p.jpg" id="img-three"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Anthracnose</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img2">
      <a style="text-decoration: none" (click)="diseasesDetails(2)">
        <div class="img-col">
          <img src="assets/diseases/algal%20leaf_p.jpg" class="img" id="img-two"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Algal Leaf</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img3">
      <a style="text-decoration: none" (click)="diseasesDetails(3)">
        <div class="img-col">
          <img src="assets/diseases/bird%20eye%20spot_p.jpg" class="img" id="img-one"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Bird Eye Spot</strong></h4>
        </div>
      </a>
    </div>

  </div>
</div>

<div class="row image_row">
  <div class="main-col">
    <div class="col" id="img4">
      <a style="text-decoration: none" (click)="diseasesDetails(4)">
        <div class="img-col">
          <img src="assets/diseases/brown%20blight_p.jpg" class="img" id="img-four"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Brown Blight</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img5">
      <a style="text-decoration: none" (click)="diseasesDetails(5)">
        <div class="img-col">
          <img src="assets/diseases/gray%20light_p.jpg" class="img" id="img-five"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Gray Light</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img6">
      <a style="text-decoration: none" (click)="diseasesDetails(6)">
        <div class="img-col">
          <img src="assets/diseases/healthy_p.jpg" class="img" id="img-eight"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Healthy</strong></h4>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row image_row">
  <div class="main-col">
    <div class="col" id="img7">
      <a style="text-decoration: none" (click)="diseasesDetails(7)">
        <div class="img-col">
          <img class="img" src="assets/diseases/red%20leaf%20spot_p.jpg" id="img-six"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Red Leaf Spot</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img8">
      <a style="text-decoration: none" (click)="diseasesDetails(8)">
        <div class="img-col">
          <img src="assets/diseases/white%20spot_p.jpg" class="img" id="img-seven"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>White Spot</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img9">

    </div>
  </div>
</div>


<app-footer></app-footer>
